    <div class="glyphicon glyphicon-align-justify"></div>
    <div class="head_yi">智慧党建平台-党员教育</div>
    <div class="head_er"><a href="<{:url('index/index')}>" >首页</a></div>
    <div class="head_san test"><a href="<{:url('test/index')}>" target="_blank">在线测试</a>
    </div>
    <div class="head_sans test">
        <a href="<{:url('study/study')}>"  target="_blank">党员学习情况</a>
    </div>
    <div class="glyphicon glyphicon-user user"></div>
    <!-- 网页登陆-->
    <div class="deng"><a href="<{:url('login/login')}>"  style="display: block;">登录</a></div>
    <div class="head_si">
        <input type="text" class="get-search" placeholder="搜索" name="s" id="s" style="outline: none;">
        <span class="glyphicon glyphicon-search search-icon"></span>
    </div>
    <div style="clear:both;"></div>
    <ul class="phone_log">                <!--   手机  下拉菜单-->
        <li><a href="<{:url('login/login')}>" >登录</a></li>
    </ul>
    <ul class="phone_order" style="border:1px solid #e7e7e7;">
        <li style="text-align:center;">0</li>
        <li><a href="indexphp/Home/Tec/tec.html"  style="display: block;"><span class="glyphicon glyphicon-user"></span>&nbsp;个人主页</a></li>
        <li><a href="indexphp/Home/Hanyu/infor.html"  style="display: block;"><span class="glyphicon glyphicon-cog"></span>&nbsp;个人设置</a></li>
        <li><a href="indexphp/Home/Hanyu/chuang.html"  style="display: block;"><span class="glyphicon glyphicon-book"></span>&nbsp;我的学习</a></li>
        <li><a href="indexphp/Home/Comment/notice.html"  style="display: block;"><span class="glyphicon glyphicon-bell"></span>&nbsp;通知</a></li>
        <!-- <li><a href="" style="display: block;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;私信</a></li> -->
        <li><a href="indexphp/Home/Hanyu/emptys.html"  style="display: block;"><span class="glyphicon glyphicon-off"></span>&nbsp;退出登录</a></li>
    </ul>
    <form action="" method="get"><input name="" type="hidden" value="0" id="user_hide"/></form>