<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>智慧党建平台</title>

    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>


    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="__PUBLIC__/xyb/css/bootstrap.css"/>
    <link rel="stylesheet" href="__PUBLIC__/xyb/css/font-awesome.css"/>
    <link rel="stylesheet" href="__PUBLIC__/xyb/css/jquery-ui.css"/>
    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="__PUBLIC__/xyb/css/ace-fonts.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="__PUBLIC__/xyb/css/ace.css" class="ace-main-stylesheet" id="main-ace-style"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="__PUBLIC__/xyb/css/ace-part2.css" class="ace-main-stylesheet"/>
    <![endif]-->

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="__PUBLIC__/xyb/css/ace-ie.css"/>


    <![endif]-->

    <!-- inline styles related to this page -->
    <link rel="stylesheet" href="__PUBLIC__/xyb/css/common.css"/>
    <!-- ace settings handler -->
    <script src="__PUBLIC__/xyb/js/ace-extra.js"></script>
    <script src="__PUBLIC__/xyb/js/jquery-1.9.1.min.js"></script>
    <script src="__PUBLIC__/xyb/layer/layer.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="__PUBLIC__/xyb/js/html5shiv.js"></script>
    <script src="__PUBLIC__/xyb/js/respond.js"></script>
    <![endif]-->
</head>
<script type="text/javascript">
    //全局变量
    var GV = {
        ROOT: "__ROOT__/",
        WEB_ROOT: "__ROOT__/",
        JS_ROOT: "__PUBLIC__/xyb/js/",
        APP: 'xyb'/*当前应用名*/
    };
</script>